.container {
  width: 100%;
  height: 80vh;
}

.grid_container {
  display: grid;
  grid-template-columns: 67.6% auto;
  grid-template-rows: 50% 50%;
  -moz-column-gap: 8px;
  column-gap: 8px;
  row-gap: 8px;
  height: calc(100% - 8px);
  width: 100%;

}






.grid_item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  
}

.grid_item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}

.grid_item:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;

  width: 100%;
  height: 100%;
}

.grid_item img {
  width: 100%;
  height:100%;
  border-radius: 15px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


@media (max-width: 1280px) {
  
  .grid_item img {
    
  }

}
