.container {
  width: 80%;
  height: 100vh;
  text-align: center;
}

.main_slide {
  padding-top: 30px;
}

.corrousel .slide-wrapper {
  width: 50%;
}

.corrousel .thumbs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.corrousel .thumb {
  width: 5%;
  height: 50px;
}
