.containerCard {
  max-width: 300px;
  width: auto;
  height: 350px;
  margin: 10px;
  background-color: rgb(33, 33, 33);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.divCard {
  width: 90%;
  height: 33.3%;
  padding: 10px;
}

.divCard_img {
  width: 100%;
  height: 33.3%;
}
.divCard_img img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divCard_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 33.3%;
  margin: 25px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.divCard_titulo .divCard_titulo_div_h4 {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
}

.divCard_titulo .divCard_titulo_div_p {
  width: 100%;
  padding: 10px;
}

.divCard_titulo .divCard_titulo_div_p p {
  width: 100%;
  color: #c5c5c5;
  font-size: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divCard_button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.divCard_button button {
  width: 130px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
  height: 35px;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  border: none;
}

.divCard_button {
  border: 1px solid rgb(11, 20, 150);
}
