@import "../../styles/variaveis.css";
@import "../../styles/breakpoints.css";

/* header {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 25px;
  z-index: 15;
}




.menu {
  margin: 0 auto;
  max-width: var(--desktop_md);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
  background-color: #ffffffff;
}

.listaUl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.listaLi {
  padding: 10px 20px;
  margin: 10px;
  list-style: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #00385e;
  text-transform: uppercase;
  white-space: nowrap;
}

.listaLi:hover , .listaLi:active{
    color: var(--afterLi);
}
 */

header {
  
  background-color: var(--BlueMenu);
}

header li {
  list-style: none;
}

header span.nav_link {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 5px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.nav_item {
  min-width: 75px;
  width: auto;
}

.navbar {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px;
}
.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px;
}

.nav_branding {
  width: 135px;
  height: 75px;
  margin-right: 50px;
  object-fit: contain;
}

.nav_link {
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  color: #f1f1f1;
  font-size: 1rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f1f1f1;
}

@media (max-width: 1280px) {
  header {
    
    top: 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger_active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger_active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger_active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  header span.nav_link {
    color: #030224;
  }

  .nav_menu {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #030224;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .nav_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    width: 50%;
    background-color: #f1f1f1;
    font-size: 1rem;
  }
  .nav_menu_active {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    z-index: 5;
    top: 100px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #050438;
    width: 50%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
  }
}
