@import "../../styles/variaveis.css";
@import "../../styles/breakpoints.css";

/* header {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 25px;
  z-index: 15;
}




.menu {
  margin: 0 auto;
  max-width: var(--desktop_md);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
  background-color: #ffffffff;
}

.listaUl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.listaLi {
  padding: 10px 20px;
  margin: 10px;
  list-style: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #00385e;
  text-transform: uppercase;
  white-space: nowrap;
}

.listaLi:hover , .listaLi:active{
    color: var(--afterLi);
}
 */

header {
  background-color: #040249;
  z-index: 15;
}

header li {
  list-style: none;
}

header li a {
  list-style: none;
  text-decoration: none;
}

header span.nav_link {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 5px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.nav_item,
.nav_item_active {
  min-width: 75px;
  width: auto;
}

.navbar {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 24px;
}
.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px;
  z-index: 15;
}

.nav_branding {
  width: 135px;
  height: 75px;
  margin-right: 50px;
  object-fit: contain;
}

.nav_link {
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  color: #f1f1f1;
  font-size: 1rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f1f1f1;
}

@media (max-width: 1280px) {
  header {
    position: sticky;
    top: 0;
  }

  .nav_branding {
    width: 175px;
    height: 85px;
    margin-right: 50px;
    object-fit: contain;
  }

  header span.nav_link {
    font-size: 0.9rem;
  }
  .hamburger {
    display: block;
  }
  .hamburger_active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger_active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger_active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  header span.nav_link {
    color: #030224;
  }

  .nav_menu {
    position: fixed;
    left: -100%;
    top: 100px;
    height: 80vh;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #120f63;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .nav_menu_active {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    z-index: 5;
    top: 100px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #080722;
    min-width: 350px;
    width: 55vw;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
    min-height: 80vh;
  }
  .nav_item,
  .nav_item_active {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    width: 50%;
    background-color: #f1f1f1;
    font-size: 2.2rem;
    height: 55px;
    max-width: 250px;
  }
}
/* Menu hamburguer */
@media (min-width: 1281px) {
  .nav_item ul,
  .nav_item_active ul {
    overflow: "scroll";
    position: absolute;
    transform: translateX(10000px);
    margin-top: 30px;
    background: #16305e;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .nav_item_active ul {
    transform: translateX(-10%) translateY(-25px);
    background: #16305e;
  }

  .nav_item ul li,
  .nav_item_active ul li {
    padding: 1rem;
    margin: 0;
  
    max-height: 55px;
    max-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .nav_item ul li span,
  .nav_item_active ul li span {
    max-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: .7rem;
    max-width: 200px;

    font-family: "Poppins", sans-serif;
    cursor: pointer;
    overflow: hidden;
    color: #f1f1f1;
  }

  .nav_item_active ul li span:nth-child(1) {
  }
}
@media (max-width: 1280px) {
  .nav_item ul {
    display: none;
  }
  .nav_item_active ul {
    overflow: "scroll";
    position: absolute;
    top: -0;
    left: 0;
    background: #1f4588;
    min-height: 75%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav_item ul li,
  .nav_item_active ul li {
    background: #071329;
    min-height: 45px;
    max-width: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav_item ul li span,
  .nav_item_active ul li span {
    font-size: 0.9rem;
    width: 250px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    overflow: hidden;
    color: #f1f1f1;
  }

  .nav_item_active ul li span:nth-child(1) {
  }
}
