.container_slider {
  max-height: 400px;
  height: 50vh;
  width: 100%;
}

.container_slider_image {
  width: 100%;
  height: 85%;
}

.container_slider_image img {
  width: 100%;
  height: 100%;
  animation: fadeIn ease 0.7s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

.container_slider_opcao_slide {
  width: 100%;
  padding: 2% 10%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div_opcao_slide {
  opacity: 0.9;
  border-radius: 500px;
  background-color: #b1b2b4;
  color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 1.5rem;
  padding: 5px;
  width: 1.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  user-select: none;
  margin: 1%;
  transform: translateY(-2rem);
}

.div_opcao_slide::after {
  content: " ";
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  border: #010831 2px solid;
}

.div_opcao_slide_ativo {
  opacity: 1;
  border-radius: 500px;
  background-color: #f5f5f5;
  color: #010205;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 1.5rem;
  padding: 5px;
  width: 1.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  user-select: none;
  margin: 1%;
  transform: translateY(-2rem) scale(1.2);
}

.div_opcao_slide_ativo::after {
  content: " ";
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  border: #010831 2px solid;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
